@import '../../styles/breakpoints';
@import '../../styles/functions';

.panel-wrapper {
  margin-bottom: var(--spacing-lg);

  @media (width > $mq-lg) {
    display: grid;
    grid-template-columns: px-to-rem(274) 2fr;
    padding: var(--spacing-lg);
    width: 100%;
    max-width: px-to-rem(940);
    background-color: var(--color-white);
    border-radius: var(--border-radius-md);
    place-items: center;
  }
}
