@import '../../styles/mixins';

.button {
  @include button-styles;

  background-color: var(--color-primary);
  color: var(--color-white);
  padding-inline: var(--spacing-lg);

  &:hover,
  &:active {
    background-color: var(--color-secondary-button);
  }
}
