@import './functions';

$font-size-regular: px-to-rem(16);
$font-size-lg: px-to-rem(24);
$font-size-xl: px-to-rem(32);

:root{
  --font-weight-thin: 100;
  --font-weight-reg: 300;
  --font-weight-semi: 500;
  --font-weight-bold: 700;  
}