@import './functions';

$font-size-regular: px-to-rem(16px);
$font-size-lg: px-to-rem(24px);
$font-size-xl: px-to-rem(32px);
$font-weight-thin: 100;
$font-weight-regular: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;