@import '../../styles/breakpoints';
@import '../../styles/functions';
@import '../../styles/mixins';

.radio-field {
  flex: 1;
}

.radio-field__label {
  @include choice-label;

  flex-direction: column;
  gap: var(--spacing-sm);
}

.radio-field__icon {
  @media (width > $mq-lg) {
    margin-bottom: var(--spacing-xl);
  }
}

.radio-field__cost {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  color: var(--color-grey);
  font-size: px-to-rem(14);
  font-weight: var(--font-weight-reg);

  small {
    color: var(--color-primary);
    font-size: px-to-rem(14);
  }
}
