@import '../../styles/breakpoints';
@import '../../styles/functions';

.radio-field {
  flex: 1;
}

.radio-field__label {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-lg);
  border: 1px solid var(--color-bg-border);
  border-radius: 0.5rem;
  font-weight: var(--font-weight-semi);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  input:checked + & {
    background-color: var(--color-secondary-lightest);
    border: 1px solid var(--color-accent-one);
  }
}

.radio-field__icon {
  @media (width > $mq-lg) {
    margin-bottom: var(--spacing-xl);
  }
}

.radio-field__cost {
  color: var(--color-grey);
  font-size: px-to-rem(14);
  font-weight: var(--font-weight-thin);
}
