@import '../../styles/functions';
@import '../../styles/mixins';

.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.input-field__error {
  color: var(--color-error);
  font-weight: var(--font-weight-semi);
}

.input-field__node {
  --border-color: var(--color-bg-border);

  display: block;
  padding: var(--spacing-md);
  width: 100%;
  border: 1px solid var(--border-color, grey);
  border-radius: var(--border-radius-md);
  color: var(--color-primary);
  font-size: px-to-rem(16);
  font-weight: var(--font-weight-medium, 400);

  &--error {
    --border-color: var(--color-error);
  }

  &:focus-visible {
    @include focus-outline;
  }
}
