@import '../../styles/breakpoints';

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  @media (width > $mq-lg) {
    gap: var(--spacing-lg);
    height: 100%;
  }
}
