@import "../../styles/breakpoints";

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  @media (width > $mq-lg) {    
    height: 100%;
  }
}

.form-wrapper__actions {
  display: flex;
  justify-content: space-between;
  
  &:has(:only-child) {
    justify-content: flex-end;
  }

  @media (width > $mq-lg) {
    margin-top: auto;
  }
}